/*Custom Fonts-------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.cdnfonts.com/css/neospace');
@import url('https://fonts.cdnfonts.com/css/neuropol-x');

/*Common CSS-------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    --dark-background: #222222;
    --dark-text: white;
    --dark-primary: #820000;
    --dark-secondary: #5b0000 ;

    --light-background: white;
    --light-text: black;
    --light-primary: #820000 ;
    --light-secondary: #5b0000;

    --background: var(--light-background);
    --text: var(--light-text);
    --primary: var(--light-primary);
    --secondary: var(--light-secondary);
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/*Mobile-------------------------------------*/
@media only screen and (max-width: 767px) {
    body {
        background: var(--background);
        height: 100%;
    }

    h1 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 1.4em;
        color: var(--text);
    }

    h2 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 22px;
        color: var(--text);
    }

    h3 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 19px;
        color: var(--text);
    }

    h4 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: var(--text);
    }

    p,
    li {
        font-family: Neurospace, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;
        color: var(--text);
    }

    small {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        color: var(--text);
    }

    a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 15px;
    }

}


/*Tablet-------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: var(--background);
        height: 100%;
    }

    h1 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 2em;
        color: var(--text);
    }

    h2 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 22px;
        ;
        color: var(--text);
    }

    h3 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 19px;
        color: var(--text);
    }

    h4 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: var(--text);
    }

    p,
    li {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;
        color: var(--text);
    }

    small {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        color: var(--text);
    }

    a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 993px) {
    body {
        background: var(--background);
        height: 100%;
    }

    h1 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 2em;
        color: var(--text);
    }

    h2 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 22px;
        color: var(--text);
    }

    h3 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 19px;
        color: var(--text);
    }

    h4 {
        font-family: 'Neuropol X Free', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: var(--text);
    }

    p,
    li {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;
        color: var(--text);
    }

    small {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        color: var(--text);
    }

    a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
}

/*Header CSS---------------------------------------*/
/*Tablet & Mobile-----------------------------*/
@media only screen and (max-width: 992px) {
    header {
        background: var(--secondary);
        text-align: center;
        width: 100%;
        height: 50px;
        padding: 100x;
    }

    header h1 {
        color: white;
        position: relative;
        top: 15px
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 993px) {
    header {
        background: var(--secondary);
        text-align: center;
        width: 100%;
        height: 100px;
        padding: 100x;
    }

    header h1 {
        color: white;
        position: relative;
        top: 30px
    }
}

/*Nav CSS-------------------------------------------*/

@media only screen and (max-width: 767px) {
    nav {
        background: var(--secondary);
        text-align: center;
        width: 100%;
        height: auto;
    }

    label {
        display: block;
        cursor: pointer;
        font-size: 28px;
        color: white;
        margin-right: 20px;
        position: relative;
        text-align: right;
    }

    #toggle {
        display: none;
    }

    nav #menu {
        display: none;
        width: 100%;
        clear: right;
    }

    nav ol {
        border: 1px solid white;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    nav li {
        display: block;
        /* border-bottom: 1px solid white; */
        padding: 5px;
    }

    nav li a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
        font-weight: normal;
        font-size: 1em;
        color: hsl(0, 0%, 255%);
        display: inline-block;
        padding: 10px;
    }

    nav li:hover {
        background-color: var(--primary);
    }

    nav li a:hover {
        color: hsl(0, 0%, 255%);
        text-decoration: none;
    }

    #toggle:checked+#menu {
        display: block;
    }
}

/*Tablet-------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
    nav {
        background: var(--secondary);
        text-align: center;
        width: 100%;
    }

    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        text-align: center;
        display: none;
    }

    #toggle {
        display: none;
    }

    nav ol {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 50px;
    }

    nav li {
        display: inline;
        border-radius: 5px;
        padding: 5px;
    }

    nav li a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
        font-weight: normal;
        font-size: 1em;
        color: hsl(0, 0%, 255%);
        display: inline-block;
        padding: 10px;
    }

    nav li .current {
        font-weight: bold;
        text-decoration: underline;
    }

    nav li:hover {
        background-color: var(--primary);
    }

    nav li a:hover {
        color: hsl(0, 0%, 255%);
        font-weight: normal;
        text-decoration: none;
    }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 993px) {
    nav {
        background: var(--secondary);
        text-align: center;
        width: 100%;
    }

    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        text-align: center;
        display: none;
    }

    #toggle {
        display: none;
    }

    nav ol {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 100px;
        position: relative;
        top: 30px;
    }

    nav li {
        display: inline;
        border-radius: 5px;
        padding: 5px;
    }

    nav li a {
        font-family: Lato, Arial, Helvetica, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-variant: normal;
        font-weight: normal;
        font-size: 1em;
        color: hsl(0, 0%, 255%);
        display: inline-block;
        padding: 10px;
    }

    nav li .current {
        font-weight: bold;
        text-decoration: underline;
    }

    nav li:hover {
        background-color: var(--primary);
    }

    nav li a:hover {
        color: hsl(0, 0%, 255%);
        font-weight: normal;
        text-decoration: none;
    }
}

/*Footer CSS-------------------------------------------*/

footer {
    grid-area: footer;
}

footer {
    background: var(--secondary);
    text-align: left;
    width: 100%;
    padding: 20px;
    margin: 0;
}

footer h2 {
    color: white;
}

footer h3 {
    color: lightgray;
}

footer li {
    color: lightgray;
}

footer a {
    color: lightgray;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    color: lightgray;
    text-align: center;
}

/*Textbox CSS-------------------------------------------*/
/* Sets green background of text in p tags belonging to the textbox class */
.textbox {
    background: var(--primary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}