#projects {
    background-color: var(--primary);
}

#projects article {
    background-color: var(--background);
    padding: 20px;
    margin: 20px;
}

.text-orange {
    color: #FFA500 !important; /* Replace with your preferred orange hex code */
}